@keyframes example {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

body {
	background-image:url("risorse/immagini/sfondo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	scroll-behavior: smooth;
	background-attachment: fixed;
	font-family: verdana;
   animation: example 2s linear 2s forwards alternate;
	
	
}
h1 {
	color: black;
	position: absolute; 
   top: 2px; 
   left: 0; 
   width: 100%; 


	
	
}


h3 {
	color: black;
   position: absolute; 
   top: 49px; 
   left: 0; 
   width: 100%; 
}

table {
	color: black;

		
}


.contenuto { 
   position: relative; 
   width: 100%;
}

p { 
   color: black;
   position: absolute; 
   top: 83px; 
   width: 47%;
   left: 26.39%;
   height: 250;
   margin-left: auto;
   margin-right: auto;
}

.piedipagina {
  color: black;
   position: absolute; 
   top: 10px; 
   left: 0; 
   width: 100%; 
   font-size: 15;
	
}

.imgincont {
	position: absolute;
	top: 355px;
	width: 35%;
   height: 400;
   left: 33%;
}

.wrapper {
   margin-left: auto;
   margin-right: auto;
   min-width: 1920px;
}
